@media (max-width:1100px){
  .main{
    height: 2300px;
  }

  .about{
  }

  .about-left{
    width: 100%;
    text-align: center;
  }

  .about-right{
    width: 100%;
  }

  .flow{
  }

  .flow-left{
    width: 100%;
  }

  .flow-right{
    width: 100%;
    text-align: center;
  }

  .quest1{
    margin: 0 20px 200px;
    height: 1100px;
  }

  .quest1-left{
    width: 100%;
  }

  .quest1-right{
    width: 100%;
  }

  .quest2{
    margin: 0 20px 200px;
    height: 1100px;
  }

  .quest2-left{
    width: 100%;
  }

  .quest2-right{
    width: 100%;
  }
}

@media(max-width:500px){
  header{
    height: 80px;
    width: 100%;
  }

  .header-left{
    height: 80px;
    width: 80px;
    background-color: #FDD700;
  }

  .top-text{
    position: absolute;
    top: 400px;
    left: 50px;
  }

  .top-text h1{
    font-size: 80px;
  }

  .top-text p{
    font-size: 20px;
  }

  .main{
    padding: 50px 10px;
  }

  .about{
  }

  .about-left{
    height: 80%;
  }

  .about-left img{
    height: 80%;
  }

  .about-right{

  }

  .main-text{
    padding: 0;
  }

  .main-text h2{
    font-size: 30px;
    width: 400px;
  }

  .main-text p{
    font-size: 20px;
  }

  .flow-right{
    height: 80%;
  }

  .flow-right img{
    height: 80%;
  }

  .quest{

  }

  .number{
    font-size: 40px;
    margin: -70px;
  }

  .quest-text h2{
    font-size: 30px;
  }

  .quest-text p{
    font-size: 20px;
  }

  .quest-image img{
    height: 250px;
  }

  .btn-box{
  }

  .btn{
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
  }

  .quest1{
    height: 850px;
  }

  .quest2{
    height: 850px;
  }
}
