* {
  box-sizing: border-box;
}

body {
  width:100%;
  margin: 0;
  font-family: 'Roboto Condensed';
  color: #6D6D6D;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
  clear: right;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header{
  height: 190px;
  width: 100%;
}

.header-left{
  height: 190px;
  width: 190px;
  background-color: #FDD700;
}

.top-wrapper{
  background-image: url(image/top-background-image.png);
  background-size: cover;
  height: 630px;
  color: #fff;
  position: relative;
}

.top-text{
  position: absolute;
  top: 150px;
  left: 100px;
}

.top-text h1{
  font-size: 128px;
  margin: -40px 0;
}

.top-text p{
  font-size: 32px;
}

.main{
  padding: 100px 50px;
}

.about{
  height: 500px;
  margin-bottom: 100px;
}

.about-left{
  float: left;
  width: 50%;
  height: 100%;
}

.about-right{
  float: left;
  width: 50%;
  height: 100%;
}

.main-text{
  padding: 0 50px;
}

.main-text h2{
  font-size: 40px;
  font-weight: normal;
  border-bottom:3px solid #FDD700;
  width: 500px;
}

.main-text p{
  font-size: 24px;
}

.flow{
  height: 500px;
}

.flow-left{
  float: left;
  width: 50%;
  height: 100%;
}

.flow-right{
  float: left;
  width: 50%;
  height: 100%;
  text-align: right;
}

.quest{
  color: #fff;
}

.number{
  text-align: center;
  font-size: 60px;
  margin: -100px;
}

.quest-text{

}

.quest-text h2{
  font-size: 40px;
  border-bottom: 3px dotted #6D6D6D;
}

.quest-text p{
  font-size: 20px;
}

.quest-text a{
}

.btn-box{
  text-align: right;
}

.btn{
  background-color: #FEF4D9;
  color: #6D6D6D;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
}

.quest1{
  background-color: #FDD700;
  margin: 0 100px 200px;
  height: 650px;
}

.quest1-left{
  float: left;
  width: 50%;
  text-align: center;
}

.quest1-right{
  float: left;
  width: 50%;
  padding: 50px;
}

.quest2{
  background-color: #FDD700;
  margin: 0 100px 200px;
  height: 650px;
}

.quest2-left{
  float: left;
  width: 50%;
  padding: 50px;
}

.quest2-right{
  float: left;
  width: 50%;
  text-align: center;
}

footer{
  background-color: #6D6D6D;
  height: 500px;
}
